<div class="main users-new">
  <div class="container text-center">
   <div class="card card-containe">
    <p>テストユーザとしてログインできます。</p>
    <%= form_tag("/login") do %>
     <input name="email" value="test@yahoo.co.jp" type="hidden">
     <input name="password" value="testtest" type="hidden">
     <button type="submit" name="button" class="btn btn-info">お試しログイン</button>
     <!-- <input type="submit" name="commit" value="お試しログイン"　class="btn btn-info"> -->
     <% end %>
    </div>
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_tag("/users/create") do %>
          <p>ユーザー名</p>
          <input name="name" value="<%= @user.name %>">
          <p>年齢</p>
          <input name="age" value="<%= @user.age %>">
          <p>画像</p>
          <input name="image_name" type="file" type="<%= @user.image_name%>">
          <p>メールアドレス</p>
          <input name="email" value="<%= @user.email %>">
          <p>パスワード</p>
          <input name="password" type="password" value="<%= @user.password %>">
          <input type="submit" value="新規登録">
        <% end %>
      </div>
    </div>
  </div>
</div>
